html {
    width: 100%;
    background-color: #F2EFE9;
    z-index: 1;
    color: #263640;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    line-height: 1.5;
    width: 70vw;
    /* Ocupa 80% da largura da tela */
    margin: 0 auto;
    /* Centraliza o conteúdo */
}

header {
    background: #2F7353;
    color: #F2EFE9;
    padding: 1rem 0;
      margin: 0 auto; /* Centraliza horizontalmente o cabeçalho */
  text-align: center; /* Centraliza os textos horizontalmente */
   
   
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.logo-container img {
    width: 8rem;
    height: auto;
}

.logo-container div {
    text-align: left;
}

header h1 {
    margin: 0;
    font-size: 3rem;
}

header p {
    margin: 0.5rem 0 0 0;
    font-size: 1rem;
}

/* Navegação */
nav {
    background-color: #263640;
    color: #F2EFE9;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 0.5rem 0;
    font-size: 1.3rem;
}

nav a {
    color: #F2EFE9;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
   
}

/* Imagem principal */
.main-image {
    position: relative;
    text-align: center;
}

.main-image img {
    width: 100%;
    height: auto;
}

.seta {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.seta img {
    width: 4rem;
    height: auto;
    background-color: #F2EFE9;
    mix-blend-mode: color
}

section {
    padding: 2rem;
}

footer {
    background: #2F7353;
    color: #F2EFE9;
    text-align: center;
    padding: 1rem;
}

.cta {
    display: block;
    text-align: center;
    margin: 2rem 0;
    padding: 1rem;
    background: #2F7353;
    color: #F2EFE9;
    text-decoration: none;
}

.cta:hover {
    background: #2F7353;
}

#intro {
    background-color: #F2EFE9;
    color: #263640;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: justify;
}

h2 {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 2rem;
    margin-bottom: 0 auto;
}

/*.seta {
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 95px;
    background-color: transparent;
    size: 5%;

}*/

#produtos {
    padding: 2rem;
    text-align: center;
    background-color: #F2EFE9;
}

#produtos h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.solucoes {
    background-color: #F2EFE9;
    color: #263640;
    font-size: 1.5em;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: justify;
    text-decoration: underline;
}

.solucoes button {
    background-color: #263640;
    border: none;
    padding: 4px;
    width: 80%;
    color: #F2EFE9;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
}

.solucoes button:hover {
    background-color: #2F7353;
    cursor: pointer;
}
/* Contêiner de cards */
.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px 0;
}
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}
.card h3 {
    margin: 10px 0;
    font-size: 1.2rem;
    text-align: justify;
}

.card p {
    font-size: 1rem;
    color: #2F7353;
    text-align: center;
}

.card button {
    background-color: #263640;
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #F2EFE9;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
}

.card button:hover {
    background-color: #2F7353;
    cursor: pointer;
}
#sobre h2 {
    text-align: center;
}

#sobre {
    font-size: 1.5em;
    margin-top: 1rem;
    background-color: #D98B48;
    border-radius: 1rem;
    padding-top: 0;
    padding: 0.5rem;
    margin-bottom: 3.5rem;
    text-align: justify;
}

#faq {
    font-size: 1.5em;
    margin-top: 1rem;
    background-color: #D98B48;
    border-radius: 1rem;
    padding-top: 0;
    padding: 0.5rem;
    margin-bottom: 3.5rem;
}

#contato {
    text-align: center;
}

form{
    background-color: #263640;
    color: #F2EFE9;
    font-size: 1.5em;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.pcontato{
    background-color: #F2EFE9;
    color: #263640;
    font-size: 1.5em;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: justify;
}

p{
    text-align: justify;
    font-size: 1.4rem;
}

footer p{
    text-align: center;
}
